[Unit]
Description=Gluster File System
Before=docker.service
After=network-online.target

[Mount]
What=cedarhurst:/mysqldata
Where=/gfs/mysql
Type=glusterfs
Options=defaults
DirectoryMode=0770

[Install]
WantedBy=multi-user.target
