[Unit]
Description=SSH Tunnel Service
#After=systemd-networkd.service

[Service]
Type=forking
ExecStart=/usr/bin/ssh -fN -F %h/.ssh/config-%i %u@%i
Restart=always

[Install]
WantedBy=default.target
